<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
  
    <connectionStrings>
      <add name="conexao" connectionString="Server = localhost; database = danillo_bd_app; User = root; Password = 12345678; port = 3306;"
           providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
  
</configuration>